* {
  background-color: #e2ecfe;
  /* border: 1px solid gray;*/
  color: rgba(18, 2, 54, 0.788);
}

body {
  margin-right: 8%;
  margin-left: 8%;
}

.Cakepageheader h1 {
  font-family: "Abril Fatface";
  font-weight: bold;
  color: rgba(18, 2, 54, 0.788);
}
.morecakes h4 {
  font-family: "Abril Fatface";
  color: rgba(18, 2, 54, 0.788);
  text-decoration: underline;
}

.mid-container .Cakename h1 {
  font-family: "Abril Fatface";
  font-weight: bold;
  color: rgb(4, 20, 65);
}

.Procedure h4,
.Ingredients h4 {
  font-family: "Abril Fatface";
  color: rgba(18, 2, 54, 0.788);
  text-decoration: underline;
}
.Procedure li {
  font-family: "Roboto", "sans-serif";
}

/*
  .Ingredients h4 {
    font-family: "Abril Fatface";
  }*/

.share-button {
  max-width: 150px;
  position: fixed;
  z-index: 1000;
}

.Cake-details img {
  width: 100%;
}

.table th {
  font-family: "Roboto";
}

.table td {
  font-family: "Roboto";
}

.Procedure p {
  font-weight: bold;
  color: rgb(3, 43, 41);
}
/* HOVER EFFECT */
.subcontainer1 {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  align-self: center;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.subcontainer1:hover .image {
  opacity: 0.3;
}

.subcontainer1:hover .middle {
  opacity: 0.8;
}

.text {
  background-color: #0a5c2ff8;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  font-family: "Roboto";
}
/* SHARE BUTTON */
.share-btn-container {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  z-index: 1;
}

.share-btn-container a i {
  font-size: 32px;
}

.share-btn-container a {
  margin: 12px 0;
  transition: 500ms;
}

.share-btn-container a:hover {
  transform: scale(1.2);
}

.share-btn-container .fa-facebook {
  color: #3b5998;
  background: white;
}

.share-btn-container .fa-twitter {
  color: #1da1f2;
  background: white;
}

.share-btn-container .fa-pinterest {
  color: #bd081c;
  background: white;
}

.share-btn-container .fa-linkedin {
  color: #0077b5;
  background: white;
}

.share-btn-container .fa-whatsapp {
  color: #075e54;
  background: white;
}

/* Media Queries */

@media (max-width: 550px) {
  .content {
    padding: 8px 32px;
  }
  .share-btn-container {
    transform: unset;
    top: unset;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 16px 0;
    justify-content: center;
  }
  .share-btn-container a {
    margin: 0 32px;
  }
}
